<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>

<body>

<div th:fragment="headerfiles" th:remove="tag">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/jquery-ui/jquery-ui.theme.css} "/>

    <link rel="stylesheet" href="/css/marx.css" />
    <link rel="stylesheet" href="/css/global.css" />


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.js}"></script>
</div>

<div th:fragment="loggedInUser" th:remove="tag">
    <nav>
        <div sec:authorize="isAuthenticated()">
            <ul>
                <li>
                    <img class="profile-pic" th:src="${loggedInUserInfo.getPictureURL()}" referrerpolicy="no-referrer">
                    Logged in as <span th:text="${loggedInUserInfo.getFirstName()}"></span>

                </li>
            </ul>
        </div>
        <div sec:authorize="isAnonymous()">
        </div>
    </nav>
</div>



</body>
</html>