<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/basic :: headerfiles"></div>
    <title>Set Your Common Ground</title>
</head>
<body>

<div>
    <h3>When are you available?</h3>
<form action="#" th:action="@{/date}" th:object="${dateRange}" method="POST" enctype="utf8">
    <div>
        <label>Availability Start Date: </label>
        <input type="datetime-local" th:field="*{startDate}"/>

        <label>Availability End Date: </label>
        <input type="datetime-local" th:field="*{endDate}"/>
    </div>
    <button type="submit"> Submit </button>
</form>
</div>

<div>
    <h4>Your previously available dates:</h4>
    <table>
        <thead>
        <tr>
            <th>Availability Start Date</th>
            <th>End Date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${currentAvailableDates.empty}">
            <td colspan="2"> No Dates Available </td>
        </tr>
        <tr th:each="availableDate : ${currentAvailableDates}">
            <td><span th:text="${availableDate.startDate}"> Start Date </span></td>
            <td><span th:text="${availableDate.endDate}"> End Date </span></td>
        </tr>
        </tbody>
    </table>

    <br>

    <a href="/">Return home...</a>
</div>


</body>
</html>