<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> Date Created </th>
            <th scope="col"> Name </th>
            <th scope="col"> CommonGround Start </th>
            <th scope="col"> CommonGround End </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="current, iteration : ${groups}">
            <td th:text="${current.getGroup().getCreateDate()}"></td>
            <td th:text="${current.getGroup().getName()}"></td>
            <td th:text="${current.getDateRange()?.getStartDate()}"></td>
            <td th:text="${current.getDateRange()?.getEndDate()}"></td>
            <td><a class="btn btn-info" role="button" th:href="@{/group/details(groupId=${current.getGroup().getId()})}">Details...</a></td>
            <td><a class="btn btn-info" role="button" th:href="@{/group/joinlink(groupId=${current.getGroup().getId()})}">Get Your Join Link</a></td>
        </tr>
        </tbody>

    </table>
</head>
<body>

</body>
</html>