<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Register</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:rel="stylesheet" th:href="@{/public/assets/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>
<h1>Registration Form</h1>
<form action="#" th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
  <div class="form-group">
    <label>first</label>
    <input type="text" class="form-control" th:field="*{firstName}"/>

  </div>
  <div class="form-group">
    <label>last</label>
    <input th:field="*{lastName}"/>

  </div>
  <div class="form-group">
    <label>email</label>
    <input type="email" class="form-control" th:field="*{email}"/>

  </div>
  <div class="form-group">
    <label >password</label>
    <input type="password" class="form-control" th:field="*{password}"/>

  </div>
  <div class="form-group">
    <label >confirm</label>
    <input type="password" class="form-control" th:field="*{matchingPassword}"/>
  </div>
  <button type="submit" class="btn btn-primary" > submit </button>
</form>

<a th:href="@{/login.html}" >login</a>



<script th:src="@{/public/assets/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{/public/assets/popperjs/popper.min.js}"></script>
<script th:src="@{/public/assets/bootstrap/js/bootstrap.min.js}"></script>


</body>
</html>