<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/basic :: headerfiles"></div>
    <style>
        .ui-autocomplete
        {
            position:absolute;
            cursor:default;
            z-index:1001 !important
        }
    </style>
    <title>Search Existing Groups!</title>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#groupName').autocomplete({
                source: '/group/searchname',
                minLength: 2,
                select: function (event, ui) {
                    if (ui.item) {
                        $("#groupName").text(ui.item.name);
                        alert(ui.item.id);
                    }
                }
            });
        });

    </script>
</head>
<body>

    <input id="groupName" name="groupName" type="text" />

</body>
</html>