body {
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    margin-left: 50%;
}

.logged-in-user{
    font-family: Helvetica, sans-serif;
    font-size: large;
}

.profile-pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}